$color--primary: #ff5a60;
$color--secondary: #2c3e50;


$input--height: 40px;
$input--border-width: 1px;
$input--border-color: #ccc;
$input--border-radius: 0;
$input--text-color: black;
$input--font-size: 16px;
$input--background-color: #fff;
$input--padding-horizontal: 20px;
$input--padding-vertical: 10px;