@import "variables";

/* ==========================================================================
   CustomForm
   ========================================================================== */
.customform {
    cursor: pointer;

    &.is-disabled,
    &.is-disabled label,
    .is-disabled {
        opacity: .5;
        cursor: default;
    }
}
.customform-input {
    display: block;
    position: relative;

    & > input,
    & > select {
        position: absolute;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
    }
}