@import "variables";

/* ==========================================================================
   CustomFormFile
   ========================================================================== */
.customform--file {
    cursor: default;

    label {
        display: block;
        margin-bottom: 5px;
    }
    .customform-input {
        margin-bottom: 5px;
    }
    .customform-label,
    .customform-file {
        display: inline-block;
        vertical-align: middle;
    }
    .customform-label {
        padding: $input--padding-vertical $input--padding-vertical*1.5;
        color: #fff;
        background: $color--primary;
        cursor: pointer;
        transition: .3s;

        &:focus,
        &:hover {
            background-color: $color--secondary;
        }
        &:focus {
            outline: 0;
        }
    }
    .customform-file {
        margin-left: 1em;
    }
}