@import "variables";

/* ==========================================================================
   CustomFormLabel
   ========================================================================== */
.customform--label {
    position: relative;

    label {
        position: absolute;
        z-index: 5;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border-top: 1px solid transparent;
        border-left: 1px solid $input--border-color;
        padding: 4px $input--padding-horizontal;
        border-top: 1px solid transparent;
        font-size: 1em;
        background: $input--background;
        transition: .3s;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 50%;
            right: 0;
            width: 1px;
            background-color: transparent;
            transition: .1s;
        }
    }

    &.is-filled {
        label {
            top: 0;
        }
    }
    &.is-filled,
    &.is-focused {
        label {
            border-color: $input--border-color;

            &:after {
                background-color: $input--border-color;
                transition: .3s;
            }
        }
    }
}