@import "variables";

/* ==========================================================================
   CustomFormSelect
   ========================================================================== */
.customform--select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.customform-selectLabel {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 50px 0 $input--padding-horizontal;
    text-overflow: ellipsis;
    font-size: $input--fontsize;
    line-height: $input--height - $input--border-width*2;
    color: $input--color;
    border: $input--border-width solid $input--border-color;
    border-radius: $input--border-radius;
    background: $input--background;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    transition: .3s;

    &:focus {
        outline: 0;
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: $input--border-color transparent transparent;
        transition: .3s;
    }
}

.customform-selectOptions {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    border: 1px solid $input--border-color;
    border-top: 0;
    border-radius: 0 0 $input--border-radius $input--border-radius;
    background: $input--background;
    opacity: 0;
    transition: .2s;
    box-sizing: border-box;
}
.customform-selectOptionGroupLabel,
.customform-selectOptionGroup,
.customform-selectOption {
    display: block;
}
.customform-selectOption {
    padding: 10px $input--padding-horizontal;

    &:not(.is-disabled):not(.is-selected ):hover {
        color: $color--primary;
        background-color: $input--background;
    }
    &.is-selected {
        color: #fff;
        background-color: $color--primary;
    }
}
.customform-selectOptionGroupLabel {
    padding: $input--padding-vertical $input--padding-horizontal;
    font-style: italic;
    background-color: darken($input--background, 5%);
    cursor: default;
}
.customform-selectOptionGroup .customform-selectOption {
    padding-left: $input--padding-horizontal*1.33;
}


/* Main states
   ========================================================================== */
.customform--select.is-open,
.customform--select:hover {
    .customform-selectLabel {
        border-color: $color--primary;
        &:after {
            opacity: .3;
        }
    }
}
.customform--select.is-open {
    .customform-selectOptions {
        z-index: 50;
        max-height: 280px;
        opacity: 1;
        overflow-y: auto;
    }
}

.customform--select.is-multiple {
    .customform-selectOption {
        &:before {
            content: "";
            position: relative;
            display: inline-block;
            top: 1px;
            vertical-align: top;
            width: 10px;
            height: 10px;
            margin-right: 10px;
            border: 1px solid $input--border-color;
        }
        &.is-selected {
            color: $input--color;
            background: transparent;

            &:before {
                background: $color--primary;
                border-color: $color--primary;
            }
        }
        &.is-first {
            display: none;
        }
    }
}

.customform--select.is-disabled {
    .customform-selectLabel:hover {
        border-color: $input--border-color;
    }
}
