@import "variables";

/* ==========================================================================
   CustomFormSelect
   ========================================================================== */
.customform--select {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;

    .customform-select-option-input {
        display: none;
    }
}

.customform-select-label {
    position: relative;
}
.customform-select-toggle {
    display: block;
    width: 100%;
    padding: 0 50px 0 $input--padding-horizontal;
    text-align: left;
    text-overflow: ellipsis;
    font-size: $input--fontsize;
    line-height: $input--height - $input--border-width*2;
    color: $input--color;
    border: $input--border-width solid $input--border-color;
    border-radius: $input--border-radius;
    background: $input--background;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    transition: .2s;

    &:focus {
        border-color: $color--primary;
    }

    &:after {
        content: "+";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        transition: .2s;
    }
}

.customform-select-options {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    border: 1px solid $color--primary;
    border-top: 0;
    border-radius: 0 0 $input--border-radius $input--border-radius;
    background: $input--background;
    opacity: 0;
    transition: .2s;
    box-sizing: border-box;
}
.customform-select-optiongroup-label,
.customform-select-optiongroup,
.customform-select-option {
    display: block;
}
.customform-select-option {
    padding: 10px $input--padding-horizontal;
    transition: .2s;
    outline: 0;

    &:not(.is-disabled):not(.is-selected):hover {
        color: $color--primary;
        background-color: darken($input--background, 5%);
    }
    &.is-selected {
        color: #fff;
        background-color: $color--primary;
    }
}
.customform-select-option-label {
    color: inherit;
}
.customform-select-optiongroup {
    padding: 0;
}
.customform-select-optiongroup-label {
    padding: $input--padding-vertical $input--padding-horizontal;
    font-style: italic;
    background-color: darken($input--background, 5%);
    cursor: default;
}
.customform-select-optiongroup .customform-select-option {
    padding-left: floor($input--padding-horizontal * 1.33);
}


/* Main states
   ========================================================================== */
.customform--select.is-open,
.customform--select:not(.is-disabled):hover {
    .customform-select-toggle {
        cursor: pointer;
        border-color: $color--primary;

        &:after {
            color: $color--primary;
        }
    }
}
.customform--select.is-open {
    .customform-select-options {
        z-index: 50;
        max-height: 280px;
        opacity: 1;
        overflow-y: auto;
    }
}

.customform--select.is-multiple {
    .customform-select-option {
        display: flex;
        align-items: center;
        padding-left: $input--padding-horizontal;
        padding-right: $input--padding-horizontal;

        &:before {
            content: "\2714";
            flex-shrink: 0;
            width: 10px;
            height: 10px;
            line-height: 10px;
            margin-right: floor($input--padding-horizontal * 0.66);
            border: 1px solid $input--border-color;
            color: transparent;
        }
        &.is-selected {
            color: $input--color;
            background: transparent;

            &:before {
                color: $color--primary;
            }
        }
        &.is-focused {
            color: $color--primary;
        }
        &.is-first {
            display: none;
        }
    }
}

.customform--select.is-disabled {
    .customform-select-toggle:hover {
        border-color: $input--border-color;
    }
}