/* ==========================================================================
   CustomForm
   ========================================================================== */
.customform {
    cursor: pointer;

    &.is-disabled,
    &.is-disabled label,
    .is-disabled {
        opacity: .5;
        cursor: default;
        color: graytext;
    }
}
.customform-input {
    > input,
    > select {
        position: absolute;
        z-index: -1;
        visibility: hidden;
    }
}